# Data Dictionary

|Variable|Defintion|Key|
|:---:|:---:|:---:|
|Survival|Survival|0=No, 1=Yes|
|Pclass|Ticket class|1=1st, 2=2nd, 3=3rd|
|Gender|Passenger's gender|male, female|
|Age| Age in years||
|Sibsp|# of siblings / spouses aboard the Titanic||
|Parch|# of parents / children aboard the Titanic||
|Ticket|Ticket number||
|Fare|Passenger fare||
|Cabin|Cabin number||
|Embarked|Port of Embarkation|C=Cherbourg, Q=Queenstown, S=Southampton|

# Mount your Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Load and Read the dataset. You can find the Titic dataset on Canvas

In [8]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/CSCE464/datasets/Titanic.csv', sep=",")

# Question #1 How many rows and columns does the given data consist of?

In [ ]:
print("Rows: ", df.shape[0])
print("Columns: ", df.shape[1])

Rows:  891
Columns:  12

# Question #2 Identify the column(s) with missing data. For the column(s) with less than 50% data, calculate the percentage of available data.

In [ ]:
df.info()

#print("percent of cabin rows with missing data: ", ((len(df.loc[df.Cabin.isnull(), "Cabin"]) / df.shape[0])*100))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Question #3 Find the average survival rate, average fare, and average age of passengers.

In [ ]:
print("Average survival rate: ", df.Survived.mean())
print("Average fare: ", df.Fare.mean())
print("Average age of passengers: ", df.Age.mean())

Average survival rate:  0.3838383838383838
Average fare:  32.204207968574636
Average age of passengers:  29.69911764705882

# Question #4 Find the number of passengers who survived and did not survive out of the total number.

In [ ]:
survived = len(df.loc[df.Survived == 1, "Survived"])
print("Number of passengers who survived: ", survived)
print("Number of passengers who did not survive: ", (df.shape[0] - survived))

Number of passengers who survived:  342
Number of passengers who did not survive:  549

# Question #5 How many male survivor(s) is/are in the third class, and what is/are the name(s) of the survivor(s)?

In [ ]:
df.loc[df.Pclass == 3]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.05,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

# Question #6 Identify passengers over 60 years of age and show the data frame consisting of the following columns: name, age, embarked, sex, and survived. Also, list the final data frame in reverse order of age.

In [ ]:
new_df = df[['Name', 'Age', 'Embarked', 'Gender', 'Survived']]
new_df.loc[(new_df.Age > 60)].sort_values(by='Age', ascending=False).reset_index()

,index,Name,Age,Embarked,Gender,Survived
0,630,"Barkworth, Mr. Algernon Henry Wilson",80.0,S,male,1
1,851,"Svensson, Mr. Johan",74.0,S,male,0
2,493,"Artagaveytia, Mr. Ramon",71.0,C,male,0
3,96,"Goldschmidt, Mr. George B",71.0,C,male,0
4,116,"Connors, Mr. Patrick",70.5,Q,male,0
5,745,"Crosby, Capt. Edward Gifford",70.0,S,male,0
6,672,"Mitchell, Mr. Henry Michael",70.0,S,male,0
7,33,"Wheadon, Mr. Edward H",66.0,S,male,0
8,456,"Millet, Mr. Francis Davis",65.0,S,male,0
9,54,"Ostby, Mr. Engelhart Cornelius",65.0,C,male,0
10,280,"Duane, Mr. Frank",65.0,Q,male,0
11,438,"Fortune, Mr. Mark",64.0,S,male,0
12,545,"Nicholson, Mr. Arthur Ernest",64.0,S,male,0
13,275,"Andrews, Miss. Kornelia Theodosia",63.0,S,female,1
14,483,"Turkula, Mrs. (Hedwig)",63.0,S,female,1
15,555,"Wright, Mr. George",62.0,S,male,0
16,570,"Harris, Mr. George",62.0,S,male,1
17,252,"Stead, Mr. William Thomas",62.0,S,male,0
18,829,"Stone, Mrs. George Nelson (Martha Evelyn)",62.0,NaN,female,1
19,326,"Nysveen, Mr. Johan Hansen",61.0,S,male,0
20,625,"Sutton, Mr. Frederick",61.0,S,male,0
21,170,"Van der hoef, Mr. Wyckoff",61.0,S,male,0

# Question #7 Continuing from Question 6, find survivors among male passengers aged 60 years or older and print them in reverse order of age.

In [ ]:
new_df.loc[(new_df.Gender == 'male') & (new_df.Age >= 60) & (new_df.Survived == 1)]

                                     Name   Age Embarked Gender  Survived
570                    Harris, Mr. George  62.0        S   male         1
587      Frolicher-Stehli, Mr. Maxmillian  60.0        C   male         1
630  Barkworth, Mr. Algernon Henry Wilson  80.0        S   male         1

# Question #8 Find the number of survivors by passenger class and the survival rate by passenger class

In [ ]:
df.groupby('Pclass').Survived.value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

In [ ]:
df.groupby('Pclass').Survived.mean()

TypeError: Could not convert SS to numeric

# Question #9 Which passenger paid the highest fare? Print a data frame consisting of name, passenger class, and fare.

In [ ]:
highest_fare = df.loc[df.Fare == df.Fare.max()]
highest_fare[['Name', 'Pclass', 'Fare']]

                                   Name  Pclass      Fare
258                    Ward, Miss. Anna       1  512.3292
679  Cardeza, Mr. Thomas Drake Martinez       1  512.3292
737              Lesurer, Mr. Gustave J       1  512.3292

# Question #10 Are there any passengers between the ages of 20 and 40 who are in Class 1 or Class 2? If so, show a data frame consisting of survived, pclass, age, and fare columns.

In [ ]:
df10 = df.loc[((df.Age >= 20) & (df.Age <= 40)) & (df.Pclass != 3)]
df10[['Survived', 'Pclass', 'Age', 'Fare']]

     Survived  Pclass   Age     Fare
1           1       1  38.0  71.2833
3           1       1  35.0  53.1000
20          0       2  35.0  26.0000
21          1       2  34.0  13.0000
23          1       1  28.0  35.5000
..        ...     ...   ...      ...
874         1       2  28.0  24.0000
880         1       2  25.0  26.0000
883         0       2  28.0  10.5000
886         0       2  27.0  13.0000
889         1       1  26.0  30.0000

[193 rows x 4 columns]

# Question #11 Which city had the most passengers, and how many people were on board? Conversely, which city had the least passengers, and how many passengers were on board?

In [ ]:
df.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

# Question #12 Continuing from Question 11, replace NaN with the city name (Letter) where the most passengers were on board. Then, find how many passengers were on board in that city.

In [ ]:
df.iloc[df.Embarked.isnull()] = 'S'
df.Embarked.value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

# Question #13 Create categories by age as follows:

1. Between 0 and 18: Children
2. Between 19 and 25: Youth
3. Between 26 and 35: YoungAdult
4. Between 36 and 60: MiddleAged
5. Over 60: Senior

Then, find how many passengers belong to the Youth category

In [ ]:
Children = len(df.loc[(df.Age >= 0) & (df.Age < 19)])
Youth = len(df.loc[(df.Age >= 19) & (df.Age <= 25)])
YoungAdult = len(df.loc[(df.Age >= 26) & (df.Age <= 35)])
MiddleAged = len(df.loc[(df.Age >= 36) & (df.Age <= 60)])
Senior = len(df.loc[df.Age > 60])

age_range = pd.Series([Children, Youth, YoungAdult, MiddleAged, Senior],
                      index=['Children', 'Youth', 'YoungAdult', 'MiddleAged', 'Senior'])
age_range

Children      139
Youth         162
YoungAdult    196
MiddleAged    195
Senior         22
dtype: int64

# Question #14 Find the survival rate by passenger's gender, then sort the result by survived in descending order.

>Condition: use the mean() function

In [ ]:
df.groupby('Gender').Survived.mean()

Gender
female    0.742038
male      0.188908
Name: Survived, dtype: float64

# Question #15 Make two data frames first. The first data frame consists of PassengerId and Name columns. The second data frame consists of Name, SibSp, Parch, and Embarked. Then, merge these two data frames consisting of PassengerId, Name, SibSp, Parch, and Embarked. Find how many passengers were on board alone and with family members.

In [ ]:
df1 = df[['Name', 'PassengerId']]
df2 = df[['Name', 'SibSp', 'Parch', 'Embarked']]
df3 = pd.merge(df1, df2)
df3

,Name,PassengerId,SibSp,Parch,Embarked
0,"Braund, Mr. Owen Harris",1,1,0,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,0,C
2,"Heikkinen, Miss. Laina",3,0,0,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,0,S
4,"Allen, Mr. William Henry",5,0,0,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,0,S
887,"Graham, Miss. Margaret Edith",888,0,0,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,1,2,S
889,"Behr, Mr. Karl Howell",890,0,0,C
890,"Dooley, Mr. Patrick",891,0,0,Q

In [ ]:
df3['FamilySize'] = len(df3.loc[(df.SibSp == 0) + (df3.Parch == 0)])
#family = len(df3.loc[(df.SibSp != 0) | (df3.Parch != 0)]) - 2   #for 2 null values
#print("alone: ", alone, "\nfamily: ", family)
df3

,Name,PassengerId,SibSp,Parch,Embarked,FamilySize
0,"Braund, Mr. Owen Harris",1,1,0,S,749
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,0,C,749
2,"Heikkinen, Miss. Laina",3,0,0,S,749
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,0,S,749
4,"Allen, Mr. William Henry",5,0,0,S,749
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,0,S,749
887,"Graham, Miss. Margaret Edith",888,0,0,S,749
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,1,2,S,749
889,"Behr, Mr. Karl Howell",890,0,0,C,749
890,"Dooley, Mr. Patrick",891,0,0,Q,749